body
  height 46in
  position absolute
  font-family 'Open Sans', serif
  font-size: 16pt
#week
  h2
    font-family 'Raleway', serif
    font-size 144pt
  width 100%
  height 100%
  position absolute
  .day
    width 16in
    height 100%
    float left
    .cols>div
      float left
      width 16in
.event
  padding .5in
  border-top 1px solid black
  .big-hour
    font-family 'Open Sans', serif
    font-size 72pt
  .title
    font-family 'Bree Serif', serif
    font-size 72pt